/**
 * HIPAcc SyntaxHighlighter theme
 * http://hipacc.github.io/
 */

/************************************
 * Interface elements.
 ************************************/

.syntaxhighlighter
{
	background-color: #272727 !important;
	padding: 3px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.syntaxhighlighter code
{
	font-weight: bold !important;
	font-family: "Droid Sans Mono", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 14px !important;
}

/* Highlighted line number */
.syntaxhighlighter .line.highlighted .number
{
	color: black !important;
}

/* Highlighted line */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2
{
	background-color: #e0e0e0 !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number
{
	width: 1.8em !important;
}

.syntaxhighlighter .line .number code
{
	color: #afafaf !important;
	font-size: 12px !important;
	width: 1.7em !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content
{
	border-left: 2px solid #606060 !important;
	color: #000 !important;
}

.syntaxhighlighter.printing .line .content 
{
	border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1
{
	background-color: #272727 !important;
}

/* Second line */
.syntaxhighlighter .line.alt2
{
	background-color: #272727 !important;
}

.syntaxhighlighter .toolbar
{
	background-color: #000 !important;
	border: #606060 solid 2px !important;
}

.syntaxhighlighter .toolbar a
{
	color: #a0a0a0 !important;
}

.syntaxhighlighter .toolbar a:hover
{
	color: red !important;
}

.syntaxhighlighter .toolbar .item.about
{
	display: none !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a
{ 
	color: #e0e0e0 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a
{ 
	color: #60b060 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a
{
	color: #d07070 !important; 
}

.syntaxhighlighter .keyword
{ 
	color: #90b0f0 !important;
	font-weight: bold !important; 
}

.syntaxhighlighter .preprocessor 
{ 
	color: #b0b0b0 !important; 
}

.syntaxhighlighter .variable 
{ 
	color: #a70 !important; 
}

.syntaxhighlighter .value
{ 
	color: #090 !important; 
}

.syntaxhighlighter .functions
{ 
	color: #e0af91 !important; 
}

.syntaxhighlighter .constants
{ 
	color: #0066CC !important; 
}

.syntaxhighlighter .script
{ 
	background-color: yellow !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a
{ 
	color: #dad4a6 !important; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a
{ 
	color: #80c4eb !important;
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a
{ 
	color: red !important; 
}
